<h3>Listing faculties</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.title %></td>
        <td><%= faculty.description %></td>
        <td><%= link_to 'Show', faculty %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>